<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- config.title %></h1>
		    <hr class="small">
                    <p class='subheading'>
                      <i class="fas fa-map-marker-alt"></i>
		      <%- theme.evento.donde %>
		    </p>
                    <p class='subheading'>
		      <i class="far fa-calendar-alt"></i>
		      <%- theme.evento.cuando %>
		    </p>
                    <p class='subheading'>
		      <i class="far fa-clock"></i>
		      <%- theme.evento.hora %>
		    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div id="invitacion" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p class=description><%- theme.descripcion %></p>

      <hr class="small">
    </div>

  </div>

  <div id=noticias class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>Noticias</h1>
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', {item: item}) %>
    <% }); %>
  <%- partial('_partial/pagination') %>
</div>

<%- partial('_partial/mapa') %>

<!-- Comments -->
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <%- partial("_partial/comments.ejs") %>
</div>
