<div id="mapa" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

  <h1>Mapa</h1>

    <address>
      <%- theme.mapa.direccion %>
      <iframe
        width="100%"
        height="350"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=<%- theme.mapa.lat %>%2C<%- theme.mapa.lon%>%2C<%- theme.mapa.lat%>%2C<%- theme.mapa.lon%>&amp;layer=mapnik"
        style="border: 1px solid black">
      </iframe>
      <br/>
      <small>
        <a href="https://www.openstreetmap.org/#map=19/<%- theme.mapa.lon%>/<%- theme.mapa.lat%>&amp;layers=N">
          Ver mapa completo</a>
      </small>
      <span>
        <% theme.mapa.direccion %>
      </span>
    </address>

</div>
